body {
    margin:0px;
    padding:0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #f2f2f2;
}

h1 {
    padding: 10px;
    margin: 10px;
    justify-content: flex-start;
    display: inline-block;
}

.title1 {
    color: #20a8b4;
}

 .title2 {
     color: #ff5c0f;
 }

 ul {
     flex-direction: column;
     /*float: right;*/
     display: flex;
 }

 .nav li {
     display: flex;
     display: inline-block;
 }

 .nav li a {
     color: black;
     text-decoration: none;
     padding: 5px;
 }

 ul li a:hover {
     color: #ff5c0f;
 }

 .logo {
     width: 500px;
     float: right;
     padding: 40px;
     display: none;
 }

 .body {
     position: absolute;
     top: 50%;
     font-size: 25px;
     align-items: flex-start;
     justify-content: space-around;
     padding-left: 16px;
 }

 h4 {
     margin-right: 70px;
     height: 20px;
 }

 .title4 {
     color: #000000;
 } 

 .title5 {
     color: #ff5c0f;
 }

 h3 {
     margin-right: 20px;
     height: 70px;
     font-size: 15px;
 }

 button {
     color: #ffffff;
     background-color: #20a8b4;
     border-radius: 10px;
     padding: 12px;
     width: 100%;
     top: 50%;
 }

 button:hover {
     background-color: #ff5c0f;
 }

 .body {
    align-items: flex-end;
 }

button {
    width: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body { flex-direction: row; }
    /* .nav-container{padding-left: 16px;}; */
    .nav-buttons{padding-left: 16px;}
    ul{padding-left: 0 !important;}
    .logo{display: none !important;}
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body { flex-direction: row; }
    .nav-buttons{padding-left: 16px;}
    /* ul{padding-left: 0 !important;} */
    .logo{display: none !important;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .nav {
        justify-content: space-between;
        display: inline-block;
    }
    .logo{display: flex;}
} 